[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim-haml"]
	path = vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
